<!-- <div style="display: inline-block;"
*ngFor="let video of videos">
  <img [src]="video.photo"
  [alt]="video.title"
  height="200"
  width="300"
  (click)="openVideo(video)"
  style="cursor: pointer;"
  >
</div> -->






      <table class="table table-striped" id="dataTable">
        <tbody>
          <tr>
            <td *ngFor="let video of videos">
              <div style="display: inline-block;">
                <img [src]="video.photo"
                [alt]="video.title"
                height="200"
                width="300"
                (click)="openVideo(video)"
                style="cursor: pointer;"
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>






